extends base.pug

block scripts
    script(src="/static/script.js")

block style
    style
        include ../static/style.css

block content
    script
        include ../static/script.js

    section#intro
        div Welcome to Sai's Dance Academy
        div.small Eat Sleep Dance Repeat

    section#mission
        h2 Our Mission

        div.card
            h4 Dance Perfection
            div.card-box 
                div.card-img 
                    img(src="/static/img/m2.png" alt="our mission logo")


        div.card
            h4 Dance the way you like
                div.card-box 
            div.card-img 
                img(src="/static/img/m2.png" alt="our mission logo")


        div.card
            h4 Expert Teaching 
                div.card-box 
            div.card-img 
                img(src="/static/img/m2.png" alt="our mission logo")


    section#sponsers
        h3 Our Sponsers 
        div#sponsors-img
            img(src="/static/img/s1.png" alt="Sponsors Image" class="spImage")
            img(src="/static/img/s2.png" alt="Sponsors Image" class="spImage")
            img(src="/static/img/s3.png" alt="Sponsors Image" class="spImage")
            img(src="/static/img/s4.png" alt="Sponsors Image" class="spImage")
            img(src="/static/img/s5.png" alt="Sponsors Image" class="spImage")

