<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Welcome to Dance Website
        style
            include ../static/style.css
    body
        nav#navbar
            ul
                li #[a(href="/") Home]
                li #[a(href="/") Class Info]
                li #[a(href="/") About ]
                li #[a(href="/") Contact] 
                li#search-bar
                    input(type="search" placeholder="Search your Query") 
                    button#search-btn Search
        script
            include ../static/script.js

    section#intro
        div Welcome to Harry's Dance Academy
        div.small Eat Sleep Dance Repeat

    section#mission
        h3 Our Mission

        div.card
            h4 Dance Perfection

        div.card
            h4 Dance the way you like

        div.card
            h4 Expert Teaching 

    section#sponsers
        h3 Our Sponsers 

    footer#footer
        | Footer section



