* {
    /* background-color: rgb(245, 212, 245); */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar {
    background-color: #296988;
    padding: 14px;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

#navbar li {
    list-style: none;
}

#navbar li a {
    text-decoration: none;
    padding: 28px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#navbar li a:hover {
    color: rgb(8, 8, 8);
}

#navbar li input {
    margin-left: 500px;
}

#navbar li button {
    margin: 0px 9px;
    color: rgb(65, 64, 64);
    background-color: white;
    height: 26px;
    width: 64px;
    cursor: pointer;
}

#navbar button:hover {
    color: rgb(0, 0, 0);
}

#intro {
    height: 386px;
    color: rgb(252, 249, 249);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    font-size: 30px;
}

#intro::before {
    position: absolute;
    content: "";
    height: 401px;
    width: 1354px;
    z-index: -1;
    opacity: 0.97;
    background: center/cover no-repeat url('/static/1__.jpg');
    top: 48px;
}

#intro .small {
    font-size: 24px;
}

#sponsers {
    height: 200px;
    background-color: #296888d2;
}

#sponsers h3 {
    text-align: center;
    margin: 1px;
    padding: 8px;
    font-size: 25px;
}

#footer {
    height: 100px;
    background-color: rgb(124, 184, 184);
}